---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=707NU1mrfn0YajkP4NIxVnK0O3CewVQH&location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 03:13:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver,CO"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=707NU1mrfn0YajkP4NIxVnK0O3CewVQH&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2053073837"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=707NU1mrfn0YajkP4NIxVnK0O3CewVQH&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-59400802"}]}]}'
  recorded_at: Wed, 11 Aug 2021 03:13:41 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?query=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID FTDjnZjo4tM13zxP7m61B1ouzZW1agVWAanVIkFJs6Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?page=509&query=Denver%2CCO>; rel="last",
        <https://api.unsplash.com/search/photos?page=2&query=Denver%2CCO>; rel="next"
      X-Total:
      - '5083'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"ab45312766fc95af12bbf9e995328412"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":5083,"total_pages":509,"results":[{"id":"A4RpHR83luM","created_at":"2021-05-01T04:12:54-04:00","updated_at":"2021-08-10T03:29:51-04:00","promoted_at":null,"width":5954,"height":3969,"color":"#0c2626","blur_hash":"L867}^NGNIxY0gxaxENb==RkWXs,","description":"Night
        Time Downtown Denver","alt_description":"city skyline during night time","urls":{"raw":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?ixid=MnwyNTI1NjJ8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkNDT3xlbnwwfHx8fDE2Mjg2NTE0MDc\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNTI1NjJ8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkNDT3xlbnwwfHx8fDE2Mjg2NTE0MDc\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI1NjJ8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkNDT3xlbnwwfHx8fDE2Mjg2NTE0MDc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI1NjJ8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkNDT3xlbnwwfHx8fDE2Mjg2NTE0MDc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1619856699906-09e1f58c98b1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNTI1NjJ8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkNDT3xlbnwwfHx8fDE2Mjg2NTE0MDc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/A4RpHR83luM","html":"https://unsplash.com/photos/A4RpHR83luM","download":"https://unsplash.com/photos/A4RpHR83luM/download","download_location":"https://api.unsplash.com/photos/A4RpHR83luM/download?ixid=MnwyNTI1NjJ8MHwxfHNlYXJjaHwxfHxEZW52ZXIlMkNDT3xlbnwwfHx8fDE2Mjg2NTE0MDc"},"categories":[],"likes":4,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"t2RB-3lbgSk","updated_at":"2021-08-09T17:38:46-04:00","username":"rdehamer","name":"Ryan
        De Hamer","first_name":"Ryan","last_name":"De Hamer","twitter_username":null,"portfolio_url":"http://www.dehamermedia.com","bio":"Denver
        -\u003e Anywhere\r\nMy images are collected all around the country working
        with brands, athletes and fitness influencers","location":null,"links":{"self":"https://api.unsplash.com/users/rdehamer","html":"https://unsplash.com/@rdehamer","photos":"https://api.unsplash.com/users/rdehamer/photos","likes":"https://api.unsplash.com/users/rdehamer/likes","portfolio":"https://api.unsplash.com/users/rdehamer/portfolio","following":"https://api.unsplash.com/users/rdehamer/following","followers":"https://api.unsplash.com/users/rdehamer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1577912636161-6a3ada136470image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"Ryan_dehamer","total_collections":6,"total_likes":0,"total_photos":69,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"Ryan_dehamer","portfolio_url":"http://www.dehamermedia.com","twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]},{"id":"Z53D0_77krE","created_at":"2021-01-11T19:31:10-05:00","updated_at":"2021-08-10T17:24:48-04:00","promoted_at":null,"width":3712,"height":5568,"color":"#402626","blur_hash":"LABMlR%h9aS$?w.8tStR0Lx^?c%M","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY","alt_description":"man in black jacket standing beside
        brown mercedes benz sedan","urls":{"raw":"https://images.unsplash.com/photo-1610411084826-5c980e2874[...]
