---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=470112d6052910b74ec6eb7c450a81af&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628393753,"sunrise":1628337889,"sunset":1628388393,"temp":67.26,"feels_like":65.75,"pressure":1008,"humidity":44,"dew_point":44.64,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":7.96,"wind_deg":21,"wind_gust":12.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1628391600,"temp":69.57,"feels_like":68.05,"pressure":1008,"humidity":39,"dew_point":43.56,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.4,"wind_deg":7,"wind_gust":15.77,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1628395200,"temp":67.26,"feels_like":65.75,"pressure":1008,"humidity":44,"dew_point":44.64,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":7.96,"wind_deg":21,"wind_gust":12.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1628398800,"temp":68.59,"feels_like":67.08,"pressure":1009,"humidity":41,"dew_point":43.99,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":2.73,"wind_deg":32,"wind_gust":4,"weather":[{"id":800,"main":"Clear","d[...]
