---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=470112d6052910b74ec6eb7c450a81af&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1628462793,"sunrise":1628424346,"sunset":1628474722,"temp":90.81,"feels_like":87.01,"pressure":1006,"humidity":19,"dew_point":42.91,"uvi":2.74,"clouds":2,"visibility":10000,"wind_speed":3,"wind_deg":110,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1628460000,"temp":91.27,"feels_like":87.26,"pressure":1006,"humidity":17,"dew_point":40.41,"uvi":5.03,"clouds":2,"visibility":10000,"wind_speed":8.99,"wind_deg":106,"wind_gust":12.57,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628463600,"temp":90.81,"feels_like":87.01,"pressure":1006,"humidity":19,"dew_point":42.91,"uvi":2.74,"clouds":2,"visibility":10000,"wind_speed":7.65,"wind_deg":112,"wind_gust":10.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628467200,"temp":91.11,"feels_like":87.1,"pressure":1006,"humidity":17,"dew_point":40.28,"uvi":1.09,"clouds":4,"visibility":10000,"wind_speed":7.52,"wind_deg":136,"wind_gust":11.79,"weather":[{"id":800,"main[...]
